alter table public.profiles
  add column if not exists avatar_url text;

drop policy if exists "Users can insert own profile" on public.profiles;

create policy "Users can insert own profile"
  on public.profiles
  for insert
  with check (auth.uid() = id);
